{
  "clusterName": "{{ couchbase_cluster_name }}",
  "adminUser": "{{ couchbase_admin_user }}",
  "adminPassword": "{{ couchbase_admin_password }}",
  "bucket": "{{ couchbase_bucket }}",
  "bucketRAM": "{{ couchbase_bucket_ram }}"
}
